/** {
  box-sizing: border-box;
}*/

body{
	margin: 0px;
	text-align: center;
}

.Logo{
   display: flex;
   align-items: flex-start;
   float: left;
   margin: 20px;
   
}

.coloText{
	display: flex;
	justify-content: flex-start;
	margin-left: 30px;
}
.main{
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: flex-start;
    
    justify-content: center;
}

.NomProduit{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    display: flex;
    align-content: flex-start;
    margin-bottom: 80px; 
}

.Infos{
	font-family: 'Montserrat', sans-serif;
	display: flex;

	flex-direction:column;
	justify-content: flex-start;
	}

.randomInfos{
	display: flex;
	justify-content: flex-start;
margin-left: 30px;
}	
.priceTag{
	display: flex;
	flex-direction:row;


}
.oldPrice{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: grey;
	margin-left: 30px;
    margin-top: 25px;
}

.newPrice{
	font-family: 'Montserrat', sans-serif;
	font-style: bold;
	font-size: 40px;
	color: black;
	margin-left: 30px;
	margin-top: 20px;
}

.header{
      padding: 10px;
      background: rgb(34,193,195);
      background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
      height: 150px;
      /*margin: 0px;*/
       
       display: flex;
       
       flex-direction:row;
       justify-content: flex-start;
       align-items: center;
       justify-content: space-between;
      
      font-size: 30px;
      
   }

h1 {
	  

      font-family: 'Montserrat', sans-serif;
      vertical-align: top;
      text-align: center;
      
      
      font-size: 30px;
     }

     .slide{
         /*width: 30%;
*/         border-radius: 8px;

            display: block;
           /*margin-left: auto;
            margin-right: auto;*/
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            cursor: zoom-in;
            transition: transform .2s;
        
     }

     .slide:hover{
         /*width: 30%;
*/         border-radius: 8px;

            display: block;
           /*margin-left: auto;
            margin-right: auto;*/
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            cursor: zoom-in;
           transform: scale(1.2);
     }

     .reduced{
        
     	display: flex;
     	justify-content: space-between;
     	flex-direction: column;
     	margin-right: 30px;
     	margin-bottom: 10px;
     	
     }


     .img{
     	display: flex;
     	justify-content: center;
     	flex-direction: row-reverse;
     	
     	align-self: center;
     }
     .img1{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border-radius: 8px;
     }
     .img2{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border-radius: 8px;
     }
     .img3{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border-radius: 8px;
     }
     .img4{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border-radius: 8px;

     }

     .img1:hover{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border-radius: 8px;
         opacity: 0.5;
         cursor: pointer;
     }
     .img2:hover{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border-radius: 8px;
         opacity: 0.5;
         cursor: pointer;
     }
     .img3:hover{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border-radius: 8px;
         opacity: 0.5;
         cursor: pointer;
     }
     .img4:hover{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border-radius: 8px;
         opacity: 0.5;
         cursor: pointer;
     }
      

.bag:hover{
   cursor: pointer;
}
.searchbar{
	 padding: 10px;
     border-radius: 20px;
	 
	 width: 25em;
	 
	 margin-left: 40px;
	 margin-right: -9em;
	  border: 1px solid #ccc;
	
	 font-family: 'Montserrat', sans-serif;

	 }

form.example button {
  float: left;
  width: 40px;
  padding: 10px;
  border-radius: 20px;
  background: #d5d5d5;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #f2f2f2;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.checked {
  color: orange;
}

.comm1{
	font-family: 'Montserrat', sans-serif;
	border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 20px;
	 transition: transform .2s;
	 
}
.comm1:hover{
	font-family: 'Montserrat', sans-serif;
	border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 20px;
     transform: scale(1.1);
}
.comm2{
	font-family: 'Montserrat', sans-serif;
	border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 20px;
	 transition: transform .2s;
}
.comm2:hover{
	font-family: 'Montserrat', sans-serif;
	 border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 20px;
	 transform: scale(1.1);
}
.comm3{
	font-family: 'Montserrat', sans-serif;
	border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 20px;
	 transition: transform .2s;
}
.comm3:hover{
	font-family: 'Montserrat', sans-serif;
	border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 20px;
	 transform: scale(1.1);
}
.comm4{
	font-family: 'Montserrat', sans-serif;
	border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 20px;
	 transition: transform .2s;
}
.comm4:hover{
	font-family: 'Montserrat', sans-serif;
	border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 20px;
	 transform: scale(1.1);
}

.comments{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 12px;
	border: 5px;
}

select{
	width: 300px;

  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 20px;
}

/* modifie l'apparence du bouton "submit"*/
input[type=submit] {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  background-color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   
  margin-left: 20px;
}

/*change visuellement l'aspect du bouton submit quand la souris est au dessus*/
input[type=submit]:hover {
  background-color: rgba(253,187,45,1) ;

}

input[type=button] {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  background-color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   
  margin-left: 20px;
}

/*change visuellement l'aspect du bouton submit quand la souris est au dessus*/
input[type=button]:hover {
  background-color: rgba(34,193,195,1);

}

.submitted{
	display: flex;
	flex-direction: row;
}

.fauxAvis{
	font-size: 15px;
	color: grey;
	display: flex;
	justify-content: flex-start;

	margin-left: 50px;
	margin-top: 20px;
}

.textAvis{
	margin-left: 10px;

}

.textYours{
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;

	
}

.textYours:hover{
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}
	 

textarea{
     padding: 10px;
	  border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 20px;
	  border: 1px solid #ccc;
	 transition: transform .2s;
	 font-family: 'Montserrat', sans-serif;
	}


textarea:hover{
	 padding: 10px;
     border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 20px;
	  border: 1px solid #ccc;
	 transform: scale(1.1);
	 font-family: 'Montserrat', sans-serif;

}
.buttonSubmit{
   display: flex;
   justify-content:   center;
}

.email{
	padding: 10px;
     border-radius: 20px;
	 
	 width: 400px;
	 margin-right: 20px;
	 margin-left: 40px;
	  border: 1px solid #ccc;
	
	 font-family: 'Montserrat', sans-serif;

	 display: flex;
	 justify-content: flex-start;
	 margin-top: 20px;
}

.emailText{
	display: flex;
	 justify-content: flex-start;
	 margin-left: 40px;
}

